body {
    margin:0;
    padding-bottom: 70px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.nav, .pagination, .carousel, .panel-title a, .clickable {
    cursor: pointer;
}


.navbar-nav .glyphicon {
    font-size: 1.5em;
}

.game-image {
    max-height: 130px;
}

.games-table tbody tr {
    height: 130px;
}

.games-table .glyphicon-play {
    cursor: pointer;
}

.navbar .pagination {
    margin: 0;
    padding-top: 8px;
}

.upload-area {
    width: 100%;
    height: 50px;
}

.upload-navbar {
    margin-top: -20px;
    padding-top: 5px;
    background-color: #FFFFFF;
}

.panel .form-group {
    margin: 15px;
}

.glyphicon-chevron-down, .glyphicon-chevron-right {
    margin-right: 10px;
}

@media(min-width:800px) {
    th.sortable {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    min-width: 100px;
    }
    th.sort-unsorted {
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    }
    th.sort-asc {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    }
    th.sort-desc {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    }
}
