
<alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert(alert)">
  <span ng-bind-html="alert.text"></span>
</alert>
<table class="table table-hover games-table">
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th class="clickable sortable" ng-click="changeSortOrder('name')" ng-class="{'sort-unsorted': sortOrder != 'name', 'sort-asc': sortOrder == 'name' && sortDir == 'asc', 'sort-desc': sortOrder == 'name' && sortDir == 'desc'}">Name</th>
      <th class="clickable sortable" ng-click="changeSortOrder('genre')" ng-class="{'sort-unsorted': sortOrder != 'genre', 'sort-asc': sortOrder == 'genre' && sortDir == 'asc', 'sort-desc': sortOrder == 'genre' && sortDir == 'desc'}">Genre</th>
      <th class="clickable sortable" ng-click="changeSortOrder('system')" ng-class="{'sort-unsorted': sortOrder != 'system', 'sort-asc': sortOrder == 'system' && sortDir == 'asc', 'sort-desc': sortOrder == 'system' && sortDir == 'desc'}">System</th>
      <th class="clickable sortable" ng-click="changeSortOrder('rating')" ng-class="{'sort-unsorted': sortOrder != 'rating', 'sort-asc': sortOrder == 'rating' && sortDir == 'asc', 'sort-desc': sortOrder == 'rating' && sortDir == 'desc'}">Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="game in currentPage">
      <td class="vert-align"><a class="btn btn-default btn-lg" ng-click="playGame(game)"><i class="glyphicon glyphicon-play"></i></a></td>
      <td><img class="game-image" ng-src="/gimg/{{ game.id }}"></td>
      <td><a href="{{ game.link }}">{{ game.name }}</a></td>
      <td>{{ game.genre }}</td>
      <td>{{ game.system }}</td>
      <td>{{ game.rating / 100 + '%' }}</td>
      <td>
        <button type="button" class="close" aria-hidden="true" ng-click="deleteGame(game)">&times;</button>
      </td>
    </tr>
  </tbody>
</table>
<nav class="navbar navbar-default navbar-inverse visible-xs">
  <div class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control search-field" placeholder="Search" ng-model="filter">
      </div>
    </form>
    <div class="navbar-right">
      <pagination max-size="2" items-per-page="pageSize" boundary-links="false" total-items="totalItems" ng-model="pageIndex"></pagination>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse hidden-xs">
  <div class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control search-field" placeholder="Search" ng-model="filter">
      </div>
    </form>
    <div class="navbar-right">
      <pagination max-size="5" items-per-page="pageSize" boundary-links="true" total-items="totalItems" ng-model="pageIndex"></pagination>
    </div>
  </div>
</nav>
