<div class="container">
  <div class="panel panel-default" ng-repeat="fileInput in fileInputs">
    <div class="panel-body">
      <form class="form" role="form">
        <div class="form-group">
          <label class="form-label">System Type</label>
          <select class="form-control" ng-options="s.displayName for s in systems" ng-model="fileInput.type"></select>
        </div>

        <div class="form-group">
          <label class="form-label">File</label>
          <input type="file" class="form-control" ng-disabled="!fileInput.type" fileread="fileInput">
        </div>

        <div class="form-group">
          <label class="form-label">Game Name</label>
          <input type="text" class="form-control" ng-disabled="!fileInput.type" ng-model="fileInput.name">
        </div>

        <div class="form-group">
          <label class="form-label">Wikipedia Game Link</label>
          <div class="input-group">
            <span class="input-group-btn">
              <a target="_parent" href="{{ fileInput.wikiLink }}" class="btn btn-default" type="button" ng-disabled="!fileInput.wikiLink">View</a>
            </span>
            <input type="text" class="form-control" ng-disabled="!fileInput.type" ng-model="fileInput.wikiLink">
          </div>
        </div>

        <div class="form-group" ng-if="working">
          <progressbar value="100" max="100" class="progress-striped active"></progressbar>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary pull-right" ng-disabled="fileInput.readyToImport()" ng-click="fileInput.upload()">
          <h4 class="pull-left"><span ng-class="fileInput.labelClass()">{{ fileInput.status }}</span></h4>
        </div>
      </form>
    </div>
  </div>
</div>
