<div class="container">
    <div class="panel panel-primary settings-panel">
      <div class="panel-heading">
        <h4>Library Information</h4>
      </div>
      <form>
        <div ng-class="{'form-group': true, 'has-success':settings.library!=original.library, 'has-feedback': settings.library!=original.library}">
          <label class="control-label" for="libraryInput">Library Location</label>
          <input type="text" class="form-control" ng-model="settings.library" id="libraryInput" tooltip="This is the directory where all ROMs will be stored">
          <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="settings.library!=original.library"></span>
        </div>

        <div ng-class="{'form-group': true, 'has-success':settings.database!=original.database, 'has-feedback': settings.database!=original.database}">
          <label class="control-label" for="databaseInput">Database Location</label>
          <input type="text" class="form-control" ng-model="settings.database" id="databaseInput" tooltip="The location of the database where information on the ROMs is stored">
          <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="settings.database!=original.database"></span>
        </div>
      </form>
    </div>

    <div class="panel panel-primary emulators-panel">
      <div class="panel-heading">
        <h4>Emulators</h4>
      </div>

      <form class="form-horizontal">
        <accordion close-others="true">
          <accordion-group ng-repeat="emulator in settings.emulators | filter:isDeleted" is-open="emulator.open">
            <accordion-heading>
              <span class="pull-left clickable glyphicon" ng-class="{'glyphicon-chevron-down': emulator.open, 'glyphicon-chevron-right': !emulator.open}"></span>
              <span class="clickable">{{ emulator.displayName }}</span>
              <button type="button" class="close" aria-hidden="true" ng-click="deleteEmulator(emulator)">&times;</button>
            </accordion-heading>
            <div class="form-group" ng-class="{'has-feedback':emulator.displayName!=original.emulators[$index].displayName, 'has-success':emulator.displayName!=original.emulators[$index].displayName}">
              <label class="col-sm-2 control-label">Display Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="emulator.displayName" placeholder="The systems name">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="emulator.displayName!=original.emulators[$index].displayName"></span>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-feedback':emulator.path!=original.emulators[$index].path, 'has-success':emulator.path!=original.emulators[$index].path}">
              <label class="col-sm-2 control-label">Emulator Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="emulator.path" placeholder="The full path of the emulator executable">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="emulator.path!=original.emulators[$index].path"></span>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-feedback':emulator.gameRankingsName!=original.emulators[$index].gameRankingsName, 'has-success':emulator.gameRankingsName!=original.emulators[$index].gameRankingsName}">
              <label class="col-sm-2 control-label">GameRankings Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="emulator.gameRankingsName" placeholder="The name of the system as it appears in gamerankings search">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="emulator.gameRankingsName!=original.emulators[$index].gameRankingsName"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Wiki Game Lists</label>
              <div class="col-sm-10">
                <div class="input-group" ng-repeat="url in emulator.urls | filter:isDeleted">
                  <span class="input-group-btn">
                    <a class="btn btn-default" type="button" ng-href="{{ url.url }}">Go</a>
                  </span>
                  <input type="text" class="form-control" ng-model="url.url">
                  <a class="input-group-addon clickable" ng-click="removeUrl(emulator, url)"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <button class="btn btn-default" ng-click="addUrl(emulator)"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
            </div>
          </accordion-group>
        </accordion>
        <div class="form-group">
          <button class="btn btn-info" ng-click="addNewEmulator()">Add</button>
        </div>
      </form>
    </div>
  </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <button type="submit" class="btn btn-default navbar-btn pull-left" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary navbar-btn pull-right" ng-click="saveData()">Save</button>
  </div>
</nav>
